@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Hide ONLY the horizontal scrollbar */
.hide-x-scrollbar {
  scrollbar-gutter: stable;
}
.hide-x-scrollbar::-webkit-scrollbar {
  height: 0 !important; /* hide horizontal */
  width: 14px; /* keep vertical */
}
.hide-x-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.hide-x-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}